@model IEnumerable<AgriReachWeb.Models.ProductCategory>

@foreach (var category in Model)
{
    <li>
        <a class="dropdown-item"
           asp-controller="ProductCategories"
           asp-action="Details"
           asp-route-id="@category.ProductCategoryId">
            @category.ProductCategoryName
        </a>
    </li>
}

