html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 180px;
    top: 35px;
    border-radius: 4px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
    padding: 0;
}

    .dropdown-content li a {
        color: #333;
        padding: 12px 16px;
        display: block;
    }

        .dropdown-content li a:hover {
            background-color: #efefef;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.advertisement {
    text-align: center;
    background-color: #f0f8f5; /* light natural color */
    padding: 40px 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.ad-content {
    max-width: 600px;
    margin: 0 auto;
}

.ad-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.ad-title {
    font-size: 2em;
    font-weight: bold;
    color: #2c6e49; /* natural green tone */
    margin-bottom: 10px;
}

.ad-tagline {
    font-size: 1.2em;
    color: #4b4b4b;
}


.hero-img {
    height: 60vh; /* 60% of viewport height */
    object-fit: cover;
}

.carousel-caption h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 1.2rem;
}

.qty-input {
    width: 40px;
    border: none;
    background: transparent;
    font-weight: bold;
}
